# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store

# Streamlit/runtime outputs
submissions.csv

# logs
*.log
